.introducao {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
}
.introducao h1{
    font-size: 5rem;
    line-height: 1.125;
    position: relative;
}

.introducao h1::before {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url("../svg/detalhe.svg") no-repeat center;
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1;
}

.titulo-header {
    font-size: 4.3rem;
    line-height: 1.125;
    position: relative;
    font-weight: 600;
}

.h2{
    margin-bottom: 30px;
}

.introducao-botoes {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 50px;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #e0e0e0;
    background-color: #e0e0e0;
    width: 168px;
    height: 60px;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    text-decoration: none;
    color: #141414;
    font-weight: 600;
}

.botao:hover{
    background-color: #c8c7c7;
}

@media (max-width: 1000px) {
    .introducao h1{
        font-size: 4rem;
    }
}

@media (max-width: 800px){
    .introducao {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .introducao h1{
        font-size: 2rem;
    }

    .titulo-header{
        font-size: 1.6rem
    }

    .introducao h1::before{
        width: 20px;
        height: 10px;
        left: 0px;
    }

    .svg-int {
        width: 30px;
    }

    .botao {
        padding: 10px 20px;
        width: 140px;
        height: 50px;
    }
}

@media (max-width: 550px) {
    .foto-perfil {
        display: none;
    }

    .introducao {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .introducao h1::before{
        left: 65px;
        width: 28px;
    }
}

@media (max-width: 400px){

    .introducao {
        grid-template-columns: 1fr;
    }
    
}