.introducao {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
}
.introducao h1{
    font-size: 5rem;
    line-height: 1.125;
    position: relative;
    font-weight: 600;
}

.introducao h1::before {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url("../svg/detalhe.svg") no-repeat center;
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1;
}

.stack {
    color: #4F76C6;
}

.foto-perfil{
    border-radius: 16px;
}

.titulo-header {
    font-size: 3.78rem;
    line-height: 1.125;
    position: relative;
    font-weight: 500;
}

.h2{
    margin-bottom: 30px;
}

.introducao-botoes {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 50px;
}

.introducao .btn{
    width: 9.75rem;
}

.introducao i{
    margin-right: 10px;
}

.introducao i:hover{
    color: white;
}

.redes{
    display: flex;
    align-items: center;
}


@media (max-width: 1000px) {
    .introducao h1{
        font-size: 4rem;
    }
}

@media (max-width: 800px){
    .introducao {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .introducao h1{
        font-size: 2.8rem;
    }

    .introducao-botoes{
        display: grid;
        justify-content: center;
        gap: 10px;

    }

    .redes{
        font-size: 1.05rem;
    }

    .titulo-header{
        font-size: 2rem
    }

    .introducao h1::before{
        width: 20px;
        height: 10px;
        left: 0px;
    }

    .svg-int {
        width: 20px;
    }

    .botao {
        padding: 10px 20px;
        width: 140px;
        height: 50px;
    }
}

@media (max-width: 550px) {
    .foto-perfil {
        display: none;
    }

    .introducao {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .introducao h1::before{
        left: 65px;
        width: 28px;
    }
}

@media (max-width: 400px){

    .introducao {
        grid-template-columns: 1fr;
    }
    
}